<mat-form-field [appearance]="getAppearance()" [color]="matColor"  [style.width.ch]="getSize(value.toString())" [style.width]="styleWidth">
  <mat-label>{{label}}</mat-label>

  <input 
  #input 
  matInput 
  [ngStyle]="{color: error ? 'red' : defaultTextColor}" 
  [type]="defaultType" 
  (keyup.enter)="emitEnter()" 
  (keydown)="addKey($event)"
  [(ngModel)]="value" 
  (focusout)="focusoutEmitValue()"
  (paste)="emitValueWithCondition()" 
  (ngModelChange)="emitValueWithCondition();" 
  [placeholder]="placeholder" 
  [maxlength]="maxlength"
  [formControl]="formControl"
  [matAutocomplete]="auto">
  <mat-error>{{getFormControlError()}}</mat-error>
  <mat-hint *ngIf="error" style="color: red;" align="start">{{error}}</mat-hint>
  <mat-hint *ngIf="manuallyEmitValue && isValueChange()" style="color: goldenrod;" align="start">Press apply icon to apply input</mat-hint>
  <mat-hint *ngIf="isValueString() && maxlength" align="end">{{value.toString().length}} / {{maxlength}}</mat-hint>
  <mat-hint *ngIf="showMinMaxHint && isValueNumber() && value" align="end">
    <ng-container *ngIf="min">{{min + '\<'}}</ng-container>
    <span [ngStyle]="{color: exceedMax() || exceedMin() ? 'red' : defaultTextColor}">{{value}}</span>
    <ng-container *ngIf="max">{{'\<' + max}}</ng-container>
  </mat-hint>

  <button *ngIf="customIconLabel" matSuffix mat-icon-button (click)="emitCustomIcon()">
    <mat-icon>{{customIconLabel}}</mat-icon>
  </button>
  <button *ngIf="manuallyEmitValue && isValueChange()" matSuffix mat-icon-button (click)="emitValue()">
    <mat-icon>check_circle_outline</mat-icon>
  </button>
  <button *ngIf="showClearIcon && value && !disable" matSuffix mat-icon-button (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <button *ngIf="value && !disable && showGoto" matSuffix mat-icon-button (click)="openLink(value.toString())">
    <mat-icon>public</mat-icon>
  </button>
  <app-input-type-switch *ngIf="showVisibleSwitch && !disable" matSuffix [switch]="switchVisibility" [htmlInputElement]="input" [trueValue]="defaultType" [falseValue]="switchType" [onIcon]="onIcon" [offIcon]="offIcon"></app-input-type-switch>
  <app-copy-to-clipboard-util *ngIf="showCopyToClipboard && !disable" matSuffix [copyValue]="value.toString()" [displayMessage]="copyDisplayMessage"></app-copy-to-clipboard-util>
  
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions  | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>