<ng-container *ngIf="type === 'DATE' || type === 'DATE_TIME'">
    <mat-form-field *ngIf="!range" [color]="matColor"  >
        <mat-label>Choose {{label}} date</mat-label>
        <input matInput [matDatepicker]="datepicker" #date1 [(ngModel)]="startDate" (dateChange)="changeStartDate()">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>
    
    <mat-form-field *ngIf="range" [color]="matColor">
        <mat-label>Choose {{label}} date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate" (dateChange)="changeStartDate()">
            <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="changeEndDate()">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
    </mat-form-field>
    
    <app-mat-form-field-text-area
    *ngIf="value"
    [disable]="true"
    label="Date picked"
    [value]="display"
    ></app-mat-form-field-text-area>
</ng-container>
<br>
<ng-container *ngIf="type === 'TIME' || type === 'DATE_TIME'">
    <ng-container *ngIf="value">
        <h3>Start time</h3>
        <app-mat-form-field-input
        label="Hours"
        [value]="value.hours" (valueOutput)="value.hours = $event"
        (onValueChange)="displayDatePicked()"
        defaultType="number"
        max="24"
        min="1"
        [width]="timeWidth"
        [autoResize]="autoResize"
        [showClearIcon]="false"
        [showMinMaxHint]="true"
        ></app-mat-form-field-input>
        <app-mat-form-field-input
        label="Minutes"
        [value]="value.minute" (valueOutput)="value.minute = $event"
        (onValueChange)="displayDatePicked()"
        defaultType="number"
        max="59"
        min="0"
        [width]="timeWidth"
        [autoResize]="autoResize"
        [showClearIcon]="false"
        [showMinMaxHint]="true"
        ></app-mat-form-field-input>
        <app-mat-form-field-input
        label="Seconds"
        [value]="value.second" (valueOutput)="value.second = $event"
        (onValueChange)="displayDatePicked()"
        defaultType="number"
        max="59"
        min="0"
        [width]="timeWidth"
        [autoResize]="autoResize"
        [showClearIcon]="false"
        [showMinMaxHint]="true"
        ></app-mat-form-field-input>
    </ng-container>
    <br>
    <ng-container *ngIf="range && toValue">
        <h3>End time</h3>
        <app-mat-form-field-input
        label="Hours"
        [value]="toValue.hours" (valueOutput)="toValue.hours = $event"
        (onValueChange)="displayDatePicked()"
        defaultType="number"
        max="24"
        min="1"
        [width]="timeWidth"
        [autoResize]="autoResize"
        [showClearIcon]="false"
        [showMinMaxHint]="true"
        ></app-mat-form-field-input>
        <app-mat-form-field-input
        label="Minutes"
        [value]="toValue.minute" (valueOutput)="toValue.minute = $event"
        (onValueChange)="displayDatePicked()"
        defaultType="number"
        max="59"
        min="0"
        [width]="timeWidth"
        [autoResize]="autoResize"
        [showClearIcon]="false"
        [showMinMaxHint]="true"
        ></app-mat-form-field-input>
        <app-mat-form-field-input
        label="Seconds"
        [value]="toValue.second" (valueOutput)="toValue.second = $event"
        (onValueChange)="displayDatePicked()"
        defaultType="number"
        max="59"
        min="0"
        [width]="timeWidth"
        [autoResize]="autoResize"
        [showClearIcon]="false"
        [showMinMaxHint]="true"
        ></app-mat-form-field-input>
    </ng-container>
</ng-container>

