<h1 mat-dialog-title>User ID: {{data.userId}}</h1>
<div mat-dialog-content>
  <ul *ngIf="user && user.userProfile" appMatFormFieldGroup (onAllInputCheck)="validInputs = $event" (onFormSummit)="save()">
    <li>
      <app-mat-form-field-input
      #matInput
      label="Alias"
      placeholder="Ex. WOW111"
      [value]="user.userProfile!.alias?.toString() ?? ''" (valueOutput)="user.userProfile!.alias = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Username"
      placeholder="Ex. SomethingCool123"
      [value]="user.username!.toString()" (valueOutput)="user.username = $event.toString()"
      [required]="true"
      (onValueChange)="validateUsername()"
      [error]="usernameError"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Password"
      placeholder="Ex. SomethingBetter@123!"
      [value]="user.password!.toString()" (valueOutput)="user.password = $event.toString()"
      [required]="true"
      [showVisibleSwitch]="true"
      [switchVisibility]="false"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="First name"
      placeholder="Ex. firstName"
      [value]="user.userProfile!.firstName?.toString() ?? ''" (valueOutput)="user.userProfile!.firstName = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Last name"
      placeholder="Ex. lastName"
      [value]="user.userProfile!.lastName?.toString() ?? ''" (valueOutput)="user.userProfile!.lastName = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Phone number"
      placeholder="Ex. phoneNumber"
      [value]="user.userProfile!.phoneNumber?.toString() ?? 0" (valueOutput)="user.userProfile!.phoneNumber = $event.toString()"
      defaultType="number"
      min="0"
      max="9999999999"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Email"
      placeholder="Ex. email"
      [value]="user.userProfile!.email?.toString() ?? ''" (valueOutput)="user.userProfile!.email = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Home address"
      placeholder="Ex. address"
      [value]="user.userProfile!.address?.toString() ?? ''" (valueOutput)="user.userProfile!.address = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="City"
      placeholder="Ex. city"
      [value]="user.userProfile!.city?.toString() ?? ''" (valueOutput)="user.userProfile!.city = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="State"
      placeholder="Ex. state"
      [value]="user.userProfile!.state?.toString() ?? ''" (valueOutput)="user.userProfile!.state = $event.toString()"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Zip code"
      placeholder="Ex. zip"
      [value]="user.userProfile!.zip?.toString() ?? 0" (valueOutput)="user.userProfile!.zip = $event.toString()"
      defaultType="number"
      min="0"
      max="99999"
      ></app-mat-form-field-input>
    </li>
    <hr *ngIf="user.id">
    <ng-container *ngIf="user.id">
      <li *ngFor="let role of user.userRoles; let i = index" >
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="role.id" required>
              <div *ngFor="let r of userRoles">
                <mat-option [value]="r.id">{{r.name}}</mat-option>
              </div>
              <mat-option (click)="removeUserRole(i)">Remove</mat-option>
            </mat-select>
          </mat-form-field>
      </li>
    </ng-container>
    <li *ngIf="user.id">
      <button mat-raised-button color="primary" (click)="addNewRole()">New Role</button>
    </li>
    <hr>
    <li>
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Enable</mat-label>
        <mat-select [(ngModel)]="user.enable">
          <mat-option [value]="true">TRUE</mat-option>
          <mat-option [value]="false">FALSE</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Expirable</mat-label>
        <mat-select [(ngModel)]="user.expirable">
          <mat-option [value]="true">TRUE</mat-option>
          <mat-option [value]="false" (click)="clearExpire()">FALSE</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <li *ngIf="user.expirable">
      <app-mat-form-field-input-time
      [value]="user.expireTime!" (valueOutput)="user.expireTime = $event"
      label="expire"
      type="DATE_TIME"
      styleWidth="100%"
      ></app-mat-form-field-input-time>
    </li>
  </ul>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!validForm" (click)="save()">Save</button>
  <button mat-raised-button color="accent" [disabled]="!isValueChange()" (click)="revert()">Revert</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>