<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <app-mat-form-field-input
  *ngIf="!data.multipleLine"
  label="Input"
  [value]="input" (valueOutput)="input = $event.toString()"
  [autoResize]="true"
  styleWidth="100%"
  ></app-mat-form-field-input>
  <app-mat-form-field-input-text-area
  *ngIf="data.multipleLine"
  label="input"
  [value]="input" (valueOutput)="input = $event.toString()"
  cols="50"
  rows="10"
  styleWidth="100%"
  ></app-mat-form-field-input-text-area>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="input" cdkFocusInitial>{{yes}}</button>
  <button *ngIf="no" mat-raised-button color="warn" mat-dialog-close>{{no}}</button>
</div>
