<ul>
  <li><h1><b>Dashboard</b></h1></li>
  <li><button mat-flat-button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button></li>
  <li><button *ngIf="!authenticatorService.isLoginB" mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button></li>
  <li><button *ngIf="authenticatorService.isLoginB" mat-flat-button (click)="authenticatorService.logout()" >Logout</button></li>
  <li><button *ngIf="!authenticatorService.isLoginB" mat-flat-button [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button></li>
  <hr>
  <li><h1><b>GAME</b></h1></li>
  <li><button mat-flat-button [routerLink]="['/game/lobbies']" routerLinkActive="router-link-active"  >Lobbies</button></li>
  <li><button mat-flat-button >Battle Ship</button></li>
  <hr>
  <li><h1><b>Trivia</b></h1></li>
  <li><button mat-flat-button [routerLink]="['/trivia/questionnaire']" routerLinkActive="router-link-active" >Questionnaire Test</button></li>
  <hr>
  <li><h1><b>AI</b></h1></li>
  <li><button mat-flat-button >ChatGPT</button></li>
  <li><button mat-flat-button [routerLink]="['/ai/reader']" routerLinkActive="router-link-active">AI Reader</button></li>
  <hr>
  <li><h1><b>Developer Utils</b></h1></li>
  <li><button mat-flat-button [routerLink]="['/utils/ascii_symbol']" routerLinkActive="router-link-active" >Ascii Symbol</button></li>
  <li><button mat-flat-button [routerLink]="['/utils/spring_boot_snippet_v01']" routerLinkActive="router-link-active" >Spring boot snippet v01</button></li>
  <li><button mat-flat-button [routerLink]="['/utils/angular_service_generator']" routerLinkActive="router-link-active" >Angular service generator</button></li>
  <br>
  <li><h1><b>Setting</b></h1></li>
  <li><button mat-flat-button [routerLink]="['/setting/user']" routerLinkActive="router-link-active" >User</button></li>
  <hr>
  <li><h1><b>About</b></h1></li>
  <li><button mat-flat-button [routerLink]="['/about/vincent']" routerLinkActive="router-link-active" >Creator</button></li>
</ul>