<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <ul *ngIf="value && value.defineRole">
    <li *ngIf="error">
      <h1 class="text-center" style="color: red">{{error}}</h1>
    </li>
    <li>
      <app-mat-form-field-input-dynamic
      label="User Profile"
      objectLabel="User Profile"
      [value]="value.userProfile" (valueOutput)="value.userProfile = $event"
      [blankObject]="userProfileBlank"
      styleWidth="100%"
      ></app-mat-form-field-input-dynamic>
    </li>
    <li>
      <app-mat-form-field-input-list-option
      label="Role"
      [value]="value.defineRole!" (valueOutput)="value.defineRole = $event"
      [options]="options"
      [blankObject]="roleBlank"
      [showSizeInput]="false"
      styleWidth="100%"
      [required]="true"
      ></app-mat-form-field-input-list-option>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!validForm || !isValueChange()" (click)="triggerItemEvent()">{{getModifyLabel()}}</button>
  <button mat-raised-button color="accent" [disabled]="!isValueChange()" (click)="revert()">Revert</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>