<h1 mat-dialog-title>Role ID: {{value.id}}</h1>
<div mat-dialog-content appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <ul>
    <li *ngIf="error">
      <h1 class="text-center" style="color: red">{{error}}</h1>
    </li>
    <li>
      <app-mat-form-field-input
      label="ID"
      [value]="value.id"
      [disable]="true"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Title"
      [value]="value.title" (valueOutput)="value.title = $event"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input-option
      label="Active"
      [value]="value.active" (valueOutput)="value.active = $event"
      [options]="[{value: true, valueLabel: 'TRUE'}, {value: false, valueLabel: 'FALSE'}]"
      ></app-mat-form-field-input-option>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!validForm" (click)="triggerItemEvent()">{{getModifyLabel()}}</button>
  <button mat-raised-button color="accent" [disabled]="!isValueChange()" (click)="revert()">Revert</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>