<div class="margin-center" *ngIf="lobby">
  <ul>
    <li><h1 class="text-center">{{lobby.name}}</h1></li>
    <li class="lobby-body">
      <div class="box">
        <ul>
          <li><h2>Current host: {{getHost(lobby).userProfile!.alias}}</h2></li>
          <li *ngIf="isHost()">
            <button mat-raised-button color="primary" (click)="changeRoomSetting()">Change Room setting</button>
          </li>
          <li>
            <button mat-raised-button color="primary" (click)="displayChat = !displayChat">Show/hide chat</button>
          </li>
          <li><h2>People</h2></li>
          <hr>
          <li *ngFor="let player of players">
            <ng-container *ngIf="isSelf(player.id)">
              <button mat-button color="basic">{{player.alias}}</button>
            </ng-container>
            <ng-container *ngIf="!isSelf(player.id)">
              <button mat-button [matMenuTriggerFor]="menu" color="basic">{{player.alias}}</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="kickPlayer(player.id)">Kick</button>
                <button mat-menu-item>Add friend</button>
              </mat-menu>
            </ng-container>
          </li>
        </ul>
      </div>

      <div class="box" *ngIf="displayChat">
        <ul>
          <li><h2>Chat Box</h2></li>
          <li>
            <app-mat-form-field-input
            label="Max number of display message"
            [value]="maxMessageDisplay" (valueOutput)="maxMessageDisplay = +$event"
            (onValueChange)="updateDisplayMessages()"
            max="50"
            min="0"
            defaultType="number"
            [showClearIcon]="false"
            ></app-mat-form-field-input>
          </li>
          <hr>
          <ng-container *ngIf="lobby.messages">
            <li *ngFor="let message of displayMessages" class="text-list">
              <span>{{message.sendBy}} | {{getTime(message)}}</span>
              <br>
              <span style="white-space: pre-wrap;">{{message.message.trim()}}</span>
              <br>
              <br>
            </li>
          </ng-container>
          <hr>
          <li>
            <app-mat-form-field-text-area
            label="Send a message"
            [value]="message" (valueOutput)="message = $event.toString()"
            (onEnter)="sendMessage()"
            [showEnterIcon]="true"
            [showClearIcon]="false"
            ></app-mat-form-field-text-area>
          </li>
        </ul>  
      </div>
    </li>
  </ul>
</div>