<div class="margin-center" *ngIf="lobby">
  <ul>
    <li><h1 class="text-center">{{lobby.name}}</h1></li>
    <li class="lobby-body">
      <div class="box">
        <ul>
          <li><h2>Current host: {{getHost(lobby).userProfile!.alias}}</h2></li>
          <li *ngIf="isHost()">
            <button mat-raised-button color="primary" (click)="changeRoomSetting()">Change Room setting</button>
          </li>
          <li>
            <button mat-raised-button color="primary" (click)="displayChat = !displayChat">Show/hide chat</button>
          </li>
          <li><h2>People</h2></li>
          <hr>
          <li *ngFor="let user of lobby.lobbyInfo!.playerList">
            <span>{{user.userProfile!.alias}}</span>
            <button mat-raised-button color="warn" *ngIf="isHost()">Kick</button>
          </li>
        </ul>
      </div>

      <div class="box" *ngIf="displayChat">
        <ul>
          <li><h2>Chat Box</h2></li>
          <li>
            <app-mat-form-field-input
            label="Max number of display message"
            [value]="maxMessageDisplay" (valueOutput)="maxMessageDisplay = +$event"
            max="50"
            min="0"
            defaultType="number"
            [showClearIcon]="false"
            ></app-mat-form-field-input>
          </li>
          <hr>
          <ng-container *ngIf="lobby.messages">
            <li *ngFor="let message of getMessages()">
              <span>{{message.sendBy}}: {{getTime(message)}}</span>
              <h3>{{message.message}}</h3>
            </li>
          </ng-container>
          <hr>
          <li class="lobby-body">
            <app-mat-form-field-input
            label="Send a message"
            [value]="message" (valueOutput)="message = $event.toString()"
            (onEnter)="sendMessage()"
            ></app-mat-form-field-input>
            <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
          </li>
        </ul>  
      </div>
    </li>
  </ul>
</div>