<ul>
  <br>
  <li>
    <button mat-raised-button (click)="emitOnBack()">
      <mat-icon>keyboard_return</mat-icon>Back</button>
  </li>
  <hr>
  <li>
    <h1>Tool bar</h1>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    label="Show Tool bar"
    [value]="aiReaderService.showToolBar"
    (valueOutput)="aiReaderService.showToolBar = $event"
    styleWidth="100%"
    ></app-mat-form-field-input-dynamic>
  </li>
  <hr>
  <li>
    <h1>AI reader</h1>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    label="Play audio on selected Speak"
    [value]="aiReaderService.playSpeakOnSelect"
    (valueOutput)="aiReaderService.playSpeakOnSelect = $event"
    styleWidth="100%"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="aiReaderService.nowPlayReading()">{{aiReaderService.playReading ? 'Stop' : 'Play'}}</button>
  </li>
  <br>
  <li>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="aiReaderService.previousSpeak()">Previous Line</button>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="aiReaderService.nextSpeak()">Next Line</button>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    *ngIf="aiReaderService.selectedSpeak"
    label="Selected line"
    [disable]="true"
    [value]="aiReaderService.selectedSpeak.sentence"
    styleWidth="100%"
    ></app-mat-form-field-input-dynamic>
  </li>
  <hr>
</ul>