<ul>
  <br>
  <li>
    <button mat-raised-button (click)="emitOnBack()">
      <mat-icon>keyboard_return</mat-icon>Back</button>
  </li>
  <hr>
  <li>
    <h1>Tool bar</h1>
  </li>
  <li>
    <app-mat-form-field-input
    label="Load From URL"
    [value]="loadUrl"
    (valueOutput)="loadUrl = $event"
    [showGoto]="true"
    ></app-mat-form-field-input>
  </li>
  <li>
    <button mat-raised-button color="primary" (click)="loadFromUrl()">Load file from url</button>
  </li>
  <br>
  <li>
    <button mat-raised-button color="primary" (click)="loadFromLocal()">Load from local</button>
  </li>
  <br>
  <li>
    <app-mat-form-field-input-dynamic
    label="Show Tool bar"
    [value]="aiReaderService.showToolBar"
    (valueOutput)="aiReaderService.showToolBar = $event"
    styleWidth="100%"
    ></app-mat-form-field-input-dynamic>
  </li>
  <hr>
  <li>
    <h1>AI reader</h1>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    label="Play audio on selected Speak"
    [value]="aiReaderService.playSpeakOnSelect"
    (valueOutput)="aiReaderService.playSpeakOnSelect = $event"
    styleWidth="100%"
    [disable]="aiReaderService.playReading"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="aiReaderService.onPlayReading()">{{aiReaderService.playReading ? 'Stop' : 'Play'}}</button>
  </li>
  <br>
  <li>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="aiReaderService.previousSpeak()">Previous</button>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="aiReaderService.nextSpeak()">Next</button>
  </li>
  <br>
  <li>
    <app-mat-form-field-input
    label="Preload TTS"
    [value]="aiReaderService.maxPreloadQueue"
    (valueOutput)="aiReaderService.maxPreloadQueue = $event"
    style="width: 100%;"
    defaultType="number"
    min="0"
    max="20"
    [showMinMaxHint]="true"
    [showClearIcon]="false"
    ></app-mat-form-field-input>
  </li>
  <li *ngIf="aiReaderService.selectedSpeak">
    <button 
    mat-raised-button 
    color="primary" 
    style="width: 100%;"
    (click)="aiReaderService.clearSelectedSpeak()"
    >Clear selected</button>
  </li>
  <li *ngIf="aiReaderService.selectedSpeak">
    <app-mat-form-field-input-dynamic
    label="Selected line"
    [disable]="true"
    [value]="aiReaderService.selectedSpeak.sentence"
    styleWidth="100%"
    ></app-mat-form-field-input-dynamic>
  </li>
  <hr>
</ul>