<div class="margin-center">
  <h1 align="center" style="color: rgb(255, 0, 225);">Hello there 👋, Vincent (Vinh) here</h1>
  <h2 align="center" style="color: rgb(0, 247, 255);">Welcome to my coding world</h2>

  <h1 style="color: rgb(183, 255, 0);">Who am I?</h1>
  <p>
    My name is Vincent, and I am a passionate and experienced software engineer with expertise in web development especially back-end engineer. With 4 years of experience in developing and deploying high-quality software applications, I am committed to delivering efficient, scalable, and user-friendly solutions that meet the needs of both clients and end-users. In this website, you will find a hosted service of my personal work, this project is <a href="https://github.com/orgs/vincent-inc/repositories">open source</a>. Thank you for taking the time to viewing my website, and I look forward to connecting with you.
  </p>

  <p>
    When I am not coding I do enjoy a game of chess ♕, playing video game or hang out with family
  </p>
  
  <h2>📩 How to reach me 📩</h2>
    <ul>
      <li>✔ <a href="https://www.linkedin.com/in/vinh-bui-0168241b9" target="_blank">Linkedin</a></li>
      <li>💻 <a href="https://github.com/VincentB00" target="_blank">Github</a></li>
      <li>📧 <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=vincentbuiwork@gmail.com" target="_blank">vincentbuiwork@gmail.com</a></li>
      <li>🤝 Discord <a href="https://discordapp.com/users/vincent#8276" target="_blank"> vincent#8276</a></li>
  </ul>



  <h4 *ngIf="isIframe()" style="color: red;">! you are viewing as iframe click here to go to <a [routerLink]="['/home']" routerLinkActive="router-link-active">main page</a></h4>
</div>