<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <ul *ngIf="value">
    <li *ngIf="error">
      <h1 class="text-center" style="color: red">{{error}}</h1>
    </li>
    <li>
      <app-mat-form-field-input-dynamic
      label="test dynamic object"
      [value]="value" (valueOutput)="value = $event"
      [blankObject]="data.blankObject"
      styleWidth="100%"
      ></app-mat-form-field-input-dynamic>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!validForm" (click)="triggerItemEvent()">{{getModifyLabel()}}</button>
  <button mat-raised-button color="accent" [disabled]="!isValueChange()" (click)="revert()">Revert</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>