<mat-form-field [appearance]="getAppearance()" [color]="matColor"  [style.width.ch]="getSize(value.toString())" [style.width]="styleWidth">
  <mat-label>{{label}}</mat-label>
  <textarea [ngStyle]="{color: error ? 'red' : 'white'}" matInput (keyup.enter)="emitEnter()" [(ngModel)]="value" #input (paste)="emitValueWithCondition()" (ngModelChange)="emitValueWithCondition();" [placeholder]="placeholder" [required]="required" [disabled]="disable" [maxlength]="maxlength" [rows]="rows" [cols]="cols" [cdkTextareaAutosize]="autoResizeHeight"></textarea>
  <mat-error>{{label}} can't be empty</mat-error>
  <mat-hint *ngIf="error" style="color: red;" align="start">{{error}}</mat-hint>
  <mat-hint *ngIf="manuallyEmitValue && isValueChange()" style="color: goldenrod;" align="start">Press apply icon to apply input</mat-hint>
  <mat-hint *ngIf="isValueString() && maxlength" align="end">{{value.toString().length}} / {{maxlength}}</mat-hint>

  <button *ngIf="manuallyEmitValue && isValueChange()" matSuffix mat-icon-button (click)="emitValue()">
    <mat-icon>check_circle_outline</mat-icon>
  </button>

  <button *ngIf="showClearIcon && value && !disable" matSuffix mat-icon-button (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>

  <button *ngIf="showEnterIcon && value && !disable" matSuffix mat-icon-button (click)="emitEnter();">
    <mat-icon>chat_bubble</mat-icon>
  </button>

  <button *ngIf="value && !disable && showGoto" matSuffix mat-icon-button (click)="openLink(value.toString())">
    <mat-icon>public</mat-icon>
  </button>
  <app-copy-to-clipboard-util *ngIf="showCopyToClipboard && !disable" matSuffix [copyValue]="value.toString()" [displayMessage]="copyDisplayMessage"></app-copy-to-clipboard-util>
</mat-form-field>
