<ul class="margin-center">
  <li>
    <ngx-extended-pdf-viewer
      [src]="'../assets/pdf-test.pdf'"
      [textLayer]="true"
      [showHandToolButton]="true"
      [showToolbar]="aiReaderService.showToolBar"
      showBookModeButton="always-visible"
      showVerticalScrollButton="always-visible"
      (textLayerRendered)="aiReaderService.onTextLayerRendered($event);"
      (pageChange)="aiReaderService.onPageChange($event)"
      >
    </ngx-extended-pdf-viewer>
  </li>
  <li>
    <p style="color: red;">something</p>
  </li>
</ul>