<div class="margin-center">
  <ul>
    <li><h1 class="text-center" style="color: rgb(0, 255, 8);">😎 Welcome to V-Service website 😎</h1></li>
    <li><h2 class="text-center" style="color: rgb(255, 0, 217)">Experience various high quality web service 💪 like never before!</h2></li>
    <hr>
    <li><h3>this web service is still under development and testing, some feature might not be available or bug, please use with a grain of salt 😉</h3></li>
    <li><p>There shall be no cookie of your data being save from this application.</p></li>
    <li *ngIf="isInWrongURL()"><h4 style="color: red">! you are in the wrong domain, this domain is currently not working or deprecated</h4></li>
    <li *ngIf="isInWrongURL()"><h4 style="color: red"><a [href]="getRightDomain()">Go here {{rightDomain}}/home</a></h4></li>
  </ul>
</div>